* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
}


.header {
    font-size:24px;
    color:#f9faf8;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.nav ul {
    display: flex;
    gap:135px;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
}

.hero {
    background-color: #1F2937;
    color: white;
}

.info h1 {
    font-size: 48px;
    color:#f9faf8;
    font-weight:900;
}

.info {
    display: flex;
    justify-content: space-around;
}

.info .right {
    width: 400px;
    background-color: grey;
}


